<html>
	<head>
	 <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"> -->
	 <script src="/static/jquery.min.js" type="text/javascript">
	 </script>
		<script>
			sessionID = {{ sessionID }};
		</script>
		<script src="/static/play.js" type="text/javascript"></script>
            <h1> A Winkles & Maoz Production </h1>
			<h2> sessionID = {{ sessionID }} </h2>
	</head>

	<body>
		<input id="nextLevelButton" type="button" value="Next Level"/> <br>
		<br>
		<div id="questionField" height=10></div>
		<br>
		<input id="id_answer" type="text" disabled="true">
		<div id="answerFeedbackField"> <br> </div>
		<br>
		<div id="levelField"> Level: 1</div>
		<div id="timerField"> Timer: 0</div>
		<div id="scoreField"> Score: 0</div>
		<div id="totalScoreField"> Total: 0</div>
		<div id="debug"/>
	</body>
</html>
